<section class="player">
  <div class="process">
    <div class="video">
      <iframe id="video" width="885" height="480" src="https://www.youtube.com/embed/{{ idVideo }}?rel=0&showinfo=0&controls=1&autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="data">
      <h3 id="title">{{ title }}</h3>
      <p>{{ channelTitle }}</p>
    </div>
    <div class="info">
      <p class="description">
        {{ description }}
      </p>
      <p class="date">{{ publishedAt }}</p>
    </div>
  </div>
</section>
