<a href="#" title="{{ title }}">
  <figure class="image">
    <img src="{{ image.url }}" alt="{{ title }}">
  </figure>
  <div class="title">
    <p>
      {{ title }}
    </p>
  </div>
  <p class="channel">{{ channelTitle }}</p>
</a>
